@charset "UTF-8";
/*страница портфолио*/
/*анимация*/
body {
  font-family: roboto, raleway sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
}

body.modal-open {
  overflow: hidden;
}

h2 {
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  h2 {
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 36px;
    line-height: 1.16;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

svg {
  fill: currentColor;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.current-page::after {
  position: absolute;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  bottom: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.button {
  min-width: 73px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  background-color: #2196f3;
  color: #ffffff;
}
.button--button-footer {
  position: relative;
  min-width: 200px;
  padding: 10px 29px;
  text-align: left;
}
@media screen and (max-width: 1199px) {
  .button--button-footer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
.button--portfolio {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.63;
  box-shadow: none;
  color: #212121;
  background-color: #f5f4fa;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}
.button--portfolio:hover, .button--portfolio:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.attention-title {
  display: block;
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .attention-title {
    text-align: center;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container--footer {
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container--footer {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 480px;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  min-width: 480px;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

@media screen and (min-width: 767px) {
  .header-nav {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mobile-contact {
  background-color: #ffffff;
}
.mobile-contact.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 4;
}
@media screen and (max-width: 767px) {
  .mobile-contact {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 480px;
    width: 100%;
    min-height: 100%;
    padding: 48px 40px;
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-contact {
    display: none;
  }
  .mobile-contact.is-open {
    display: none;
  }
}

.mobile-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-navigation__link:hover, .mobile-navigation__link:focus {
  color: #2196f3;
  text-decoration: none;
}
.mobile-navigation__link--current-mobile {
  color: #2196f3;
}

.contact-wrap {
  display: flex;
  flex-direction: column;
}

.mobile-connection {
  margin-bottom: 64px;
}

.mobile-connection__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-connection__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-connection__link:hover, .mobile-connection__link:focus {
  color: #2196f3;
  text-decoration: none;
}
.mobile-connection__link--tel {
  font-size: 34px;
  line-height: 1.18;
  color: #2196f3;
}
.mobile-connection__link--mail {
  font-size: 24px;
  line-height: 1.17;
  color: #757575;
}

.mobile-social {
  display: flex;
  justify-content: space-between;
}

.mobile-social__item:not(:last-child) {
  margin-right: 20px;
}
.mobile-social__item:not(:last-child)::after {
  content: "";
  width: 100%;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-social__link {
  padding: 22px 0 22px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .desktop-contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .desktop-contact {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  color: #2196f3;
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 767px) {
  .logo__header-logo {
    margin: 0;
  }
}
@media screen and (max-width: 1200px) {
  .logo__header-logo {
    display: inline-flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .logo__header-logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo__header-logo {
    margin-right: 93px;
  }
}
.logo__header-logo--black {
  color: #212121;
}

.logo__footer-logo {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}
.logo__footer-logo--white {
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .logo__footer-logo {
    text-align: center;
  }
}

.button-mobile {
  position: relative;
  z-index: 5;
  padding: 0;
  margin: 0;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .button-mobile {
    display: none;
  }
}

.button-mobile__icon {
  width: 40px;
  height: 40px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-mobile__icon:hover, .button-mobile__icon:focus {
  fill: #2196f3;
}

.button-mobile .button-mobile__icon-cross {
  display: none;
}
.button-mobile.is-open .button-mobile__icon-cross {
  display: block;
}

.button-mobile.is-open .button-mobile__icon-menu {
  display: none;
}

.site-nav {
  display: flex;
}

.site-nav__item {
  position: relative;
  display: flex;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
  text-decoration: none;
}

.contact {
  display: flex;
}
@media screen and (min-width: 768px) {
  .contact {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contact__link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
  text-decoration: none;
}

.contact__content {
  display: flex;
  align-items: center;
}

.contact__icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  -o-object-position: initial;
     object-position: initial;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: #2196f3;
}

.hero {
  min-width: 480px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2f303a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/main/adaptiv/hero/mobyle/img.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/main/adaptiv/hero/mobyle/img@2x.jpg");
  }
}
@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/main/adaptiv/hero/tablet/img.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/main/adaptiv/hero/tablet/img@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/main/adaptiv/hero/desktop/Img@2x.jpg");
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
}

.section--team {
  min-width: 480px;
  background-color: #f5f4fa;
}
@media screen and (max-width: 1199px) {
  .section--mobyle {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .section {
    min-width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section--without-top {
  min-width: 480px;
  padding-top: 0;
}

.section__title {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .section__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .benefits__item {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits__item {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .benefits__item:nth-child(2n) {
    margin-right: 0;
  }
  .benefits__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
    margin-right: 30px;
  }
  .benefits__item:last-child {
    margin-right: 0;
  }
}

.benefits__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
}
@media screen and (max-width: 767px) {
  .benefits__content {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__content {
    width: 270px;
  }
}

.benefits__icon {
  height: 70px;
  width: 70px;
  background-position: center;
}

.benefits__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.specialization__list {
  display: flex;
  position: relative;
}

.specialization__item {
  margin-right: 30px;
}
.specialization__item:last-child {
  margin-right: 0;
}

.specialization__explanation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 370px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.specialization__text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    flex-wrap: wrap;
  }
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .team__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100%-90px) / 4);
    margin-right: 30px;
  }
}

.team__name {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.27;
  text-align: center;
}

.team__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    flex-wrap: wrap;
  }
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .team__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100%-90px) / 4);
    margin-right: 30px;
  }
}

.team__name {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.27;
  text-align: center;
}

.team__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.social-team {
  display: inline-flex;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .social-team {
    margin-bottom: 24px;
  }
}

.social-team__item {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  box-shadow: none;
}
.social-team__item:not(:last-child) {
  margin-right: 10px;
}

.social-team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-team__link:hover, .social-team__link:focus {
  background-color: #2196f3;
}

.social-team__icon {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-team__link:hover .social-team__icon, .social-team__link:focus .social-team__icon {
  fill: #ffffff;
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
}

.customers__item {
  border-radius: 4px;
  margin-right: 30px;
}
.customers__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .customers__item {
    margin-bottom: 30px;
  }
  .customers__item:nth-child(even) {
    margin-right: 0;
  }
  .customers__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
  .customers__item:nth-child(3) {
    margin-right: 0;
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .customers__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}
.customers__link:focus, .customers__link:hover {
  border-color: #2196f3;
}

.customers__icon {
  height: 60px;
  width: 106px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 480px) {
  .backdrop {
    padding: 93px 15px;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 481px) {
  .backdrop {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (max-width: 767px) {
  .backdrop {
    z-index: 6;
  }
}

@media screen and (max-width: 480px) {
  .backdrop.is-hidden {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
@media screen and (max-width: 480px) {
  .modal {
    position: relative;
  }
}
@media screen and (min-width: 481px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    max-width: 450px;
    width: 100%;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}
@media screen and (min-width: 481px) {
  .backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2, 0.5);
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;
}

.modal__icon {
  margin: 0;
  height: 18px;
  width: 18px;
  fill: #000000;
}
.modal__button .modal__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover .modal__icon {
  fill: #2196f3;
}

.modal__titel {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__field--input {
  position: relative;
  margin-bottom: 10px;
}

.form__field--textarea {
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: inherit;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .form__input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form__input {
    width: 448px;
  }
}
.form__input:focus {
  outline-color: #2196f3;
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__textarea {
  resize: none;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: inherit;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .form__textarea {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form__textarea {
    width: 448px;
  }
}
.form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:focus {
  outline-color: #2196f3;
}

.button__submit {
  display: block;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.checkbox {
  position: relative;
  display: block;
  cursor: pointer;
  margin-right: auto;
  padding-left: 23px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox {
    margin-left: 14px;
  }
}

.checkbox__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.checkbox__box {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: inherit;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__box {
  border-color: #2196f3;
  background-color: #2196f3;
  box-shadow: none;
  background-image: url("../images/modal-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox__link {
  font-size: 14px;
  line-height: 1.7;
  color: #2196f3;
}

.footer {
  min-width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .address {
    display: inline-block;
    width: 231px;
    margin-right: 70px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    margin-right: 0;
  }
}

.adress__wrap {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address__list {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
@media screen and (max-width: 767px) {
  .address__list {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .address__item {
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .address__item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__map {
  margin-top: 0;
  text-decoration: none;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__map:hover, .address__map:focus {
  color: #2196f3;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .address__map {
    text-align: center;
  }
}

.address__nav {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__nav:focus, .address__nav:hover {
  color: #2196f3;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .join {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    display: inline-block;
    margin-right: 93px;
    padding-top: 12px;
  }
}

.join__footer {
  display: flex;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .join__footer {
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
  }
}

.join__item {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:focus, .join__link:hover {
  background-color: #2196f3;
}

.join__icon {
  height: 20px;
  width: 20px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    display: inline-block;
    padding-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__form {
    display: flex;
    flex-direction: column;
  }
}
.subscribe__input {
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
}
@media screen and (max-width: 767px) {
  .subscribe__input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__icon {
  position: absolute;
  top: 12px;
  right: 28px;
  margin-left: 10px;
  height: 24px;
  width: 24px;
  background-color: #2196f3;
  fill: #ffffff;
}

.electric {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .electric {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .electric {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .electric {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .electric__item {
    margin-bottom: 15px;
  }
  .electric__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
.electric__item:not(:last-child) {
  padding-right: 8px;
}

@media screen and (max-width: 767px) {
  .content {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }
}

.content__item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.content__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 767px) {
  .content__item {
    width: 100%;
  }
  .content__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content__item {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .content__item:nth-child(2n) {
    margin-right: 0;
  }
  .content__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .content__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .content__item:nth-child(3n) {
    margin-right: 0;
  }
  .content__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.content__link {
  text-decoration: none;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .content__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.content__explanation {
  position: relative;
  overflow: hidden;
}

.content__text {
  position: absolute;
  padding: 63px 24px;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.content__item:hover .content__text {
  transform: translateY(0);
}

.content__border {
  box-sizing: border-box;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  background: #ffffff;
}
@media screen and (max-width: 767px) {
  .content__border {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .content__border {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .content__border {
    width: 370px;
  }
}

.content__title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content__title {
    flex-grow: 1;
  }
}

.content__view {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}/*# sourceMappingURL=main.css.map */