.checkbox {
  position: relative;

  display: block;

  cursor: pointer;

  margin-right: auto;
  padding-left: 23px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.7;

  color: #757575;

  @media screen and (min-width: $desktop) {
    margin-left: 14px;
  }
}

.checkbox__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox__box {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: inline-block;

  width: 16px;
  height: 15px;

  border: 2px solid #000000;
  border-radius: 2px;

  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background-color: inherit;

  transition: border-color $transition-duration $transition-timing-function,
    background-color $transition-duration $transition-timing-function,
    box-shadow $transition-duration $transition-timing-function;

  .checkbox__input:checked + & {
    border-color: $accent-color;
    background-color: $accent-color;
    box-shadow: none;

    background-image: url('../images/modal-check.svg');
    background-size: contain;
    background-origin: border-box;
  }
}

.checkbox__link {
  font-size: 14px;
  line-height: 1.7;

  color: $accent-color;
}
