.electric {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-bottom: 40px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .electric__item {
    margin-bottom: 15px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
}

.electric__item:not(:last-child) {
  padding-right: 8px;
}
