.hero {
  min-width: 480px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main/hero.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: $desktop) {
    height: 600px;

    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.6;
  }

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;

  padding: 10px 32px;
}
