.section{
    padding-top: 94px;
    padding-bottom: 94px;

    &--without-top{
        padding-top: 0;
    }

    &--team{
        background-color: $team-background-color;
    }
}

.section__title{
    margin-top: 0;
    margin-bottom: 50px
}