@media screen and (min-width: $tablet) {
  .subscribe {
    display: inline-block;

    padding-top: 12px;
  }

  .subscribe__form {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
  }
}

.subscribe__input {
  height: 50px;

  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;

  @media screen and (max-width: 767px) {
    width: 100%;

    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    width: 358px;

    margin-right: 12px;
  }
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__icon {
  position: absolute;
  top: 12px;
  right: 28px;

  margin-left: 10px;

  height: 24px;
  width: 24px;

  background-color: #2196f3;
  fill: #ffffff;
}
