$primary-text-color: #212121;
$secondary-text-color: #757575;
$logo-color: #2196f3;
$header-background-color: #ffffff;
$benefits-background-color: #ffffff;
$team-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$accent-color: #2196f3;
$footer-nav-color: rgba(255, 255, 255, 0.6);
$button-color: #ffffff;
$button-background-color: #2196f3;
/*страница портфолио*/
$button-back-portfolio-first: #f5f4fa;
$button-col-portfolio-first: #212121;
$button-back-portfolio-second: #2196f3;
$button-col-portfolio-second: #ffffff;
/*анимация*/
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
